<h1>Space Messages</h1>

<ul>
	{% for message in message_list %}
		<li>
			<p>
				{{ message }}
			</p>
			<em id="mark-read-{{ message.id }}" class="enabled-button">New</em>
			<script>
				document.getElementById('mark-read-{{ message.id }}').addEventListener("click", function() {
					console.log(this);
					if (this.className == "enabled-button") {
						this.className = "disabled-button";
						this.innerHTML = "Read";
						var xhr = new XMLHttpRequest();
						xhr.open('GET', "{% url 'space_messages:mark_read' %}?id={{ message.id }}", false);
						xhr.send();
					}
				});
			</script>

			<hr>
		</li>
	{% endfor %}
</ul>


